* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f5f7fa;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px; 
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-photo {
    width: 370px;
}

.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    margin-bottom: 20px;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #80858f;
}

.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    margin-right: 10px;
}

.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.tech-skills-container {
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
}

.tech-skill-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;
}

.tech-skill-text {
    color: #cdcfd3;
}

.soft-skills-container {
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
}

.soft-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.soft-skill-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;
}

.soft-skill-text {
    color: #cdcfd3;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
    color: #000000;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
    margin-bottom: 23px;
    color: #000000;
}

.description {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.info-container {
    margin-bottom: 65px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.proejec-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.dots {
    color: #a8a8a8;
    font-weight: 100;
}
 
.prject-item {
    font-weight: 700;
    margin-left: 19px;
}

.projects-container {
    margin-bottom: 55px;
}

.prof-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.prof-company {
    color: #ff8f43;
}

.prof-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.prof-divider {
    color: #000000;
}

.prof-duties {
    margin-top: 14px;
    margin-bottom: 30px;
}

.prof-duty-items {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.uni-name {
    margin-top: 21px;
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}

.uni-prof {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 14px;
}